.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  height: 200px;
  width: 200px;
  background-color: black;
}

button {
  padding: 3%;
  font-size: 13px;
  margin: 8px;
}
